* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    p {
        padding: 0;
        margin: 0;
    }
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #0d1117;
}

nav {
    background-color: #010409;
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    padding: 10px 16px;
    justify-content: space-between;
    border-bottom: 1px solid #9198a1a6;
    
    .logo {
        display: flex;
        align-items: center;
        color: white;
        gap: 10px;
        
        img {
            height: 32px;
        }
    }
    
    .nav-menu {
        display: flex;
        align-items: center;
        gap: 25px;
        
        .search {
            border: 1px solid white;
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 4px 5px;
            border-radius: 6px;
            
            &:hover {
                background-color: #9198a133;
            }
            
            input {
                width: 250px;
                outline: none;
                border: none;
                caret-color: white;
                background: none;
                color: white;
                font-size: 16px;
            }
            
            img {
                height: 24px;
            }
        }
        
        .add-debug-nav {
            height: 18px;
            border-radius: 50px;
            border: 1.5px solid white;
            padding: 7px;
            cursor: pointer;
            
            &:hover {
                background-color: #9198a133;
            }
        }   
        
        .notification-nav {
            border-radius: 50px;
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin: 0 -10px;
            
            &:hover {
                background-color: #9198a133;
            }
            
            img {
                height: 30px;
            }
            
            .count-notif-container {
                background-color: #4493f8;
                position: absolute;
                right: 65px;
                top: 15px;
                border-radius: 50px;
                height: 17px;
                width: 17px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-size: 11px;
            }
            
        }
        
        .profil_pic {
            height: 33px;
            border-radius: 50px;
            cursor: pointer;
        }
    }
}

.first-tab-system-container {
    display: flex;
    
    .tab {
        width: 20%;
        border-right: 1px solid #9198a1a6;
        display: flex;
        flex-direction: column;
        padding: 20px;
        height:  calc(100vh - 63px);
        box-sizing: border-box;
        gap: 10px;
        overflow-y: scroll;
        scrollbar-color: #0d1117 #0d1117;
        scrollbar-width: thin;

        &:hover {
            scrollbar-color: #9198a184 #0d1117;
        }
        
        .group {
            div {
                display: flex;
                align-items: center;
                color: white;
                gap: 10px;
                padding: 10px;
                cursor: pointer;
                border-radius: 6px;
                
                &:hover {
                    background-color: #9198a11d;
                }
                
            }
            
        }
        
        img {
            height: 22px;
        }
        
        hr {
            border: 0.5px solid #9198a12d;
        }

        .copyright {
            color: #9198a1;
            font-size: 12px;
            margin: 0 auto;
            margin-top: auto;
        }
    }

    .page {
        width: 80%;

        div {
            background-color: #fff;
            width: 100%;
            display: none;
        }

        div:nth-of-type(1) {
            display: block;
        }
    }
}


.tippy-box[data-theme~='custom'] {
    background-color: #666a70;
    color: white;
}

.tippy-box[data-theme~='custom'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: #666a70;
  }
  .tippy-box[data-theme~='custom'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: #666a70;
  }
  .tippy-box[data-theme~='custom'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: #666a70;
  }
  .tippy-box[data-theme~='custom'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: #666a70;
  }





