* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    p {
        padding: 0;
        margin: 0;
    }
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #0d1117;
}

.nav-pagination {
    background-color: #010409;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    position: sticky;
    top: 0;
    z-index: 2;
    transition: 0.3s;

    nav {
        display: flex;
        padding: 16px;
        justify-content: space-between;
        
        .logo {
            display: flex;
            align-items: center;
            color: white;
            gap: 10px;

            img {
                height: 32px;
            }
        }

        .menu-search {
            display: flex;
            align-items: center;
            gap: 10px;
            

            .search {
                border: 1px solid #9198a1;
                display: flex;
                align-items: center;
                gap: 5px;
                padding: 2px 5px;
                border-radius: 6px;

                input {
                    width: 170px;
                    outline: none;
                    border: none;
                    caret-color: white;
                    background: none;
                    color: white;
                    font-size: 16px;
                };

                img {
                    height: 24px;
                }
            }

            img {
                height: 33px;
            }
        }
    }



    .page {
        display: flex;
        justify-content: space-around;

        button {
            background: none;
            color: white;
            padding-bottom: 8px;
            border: none;
            font-size: 16px;
            cursor: pointer;

            &:nth-child(1) {
                border-bottom: 2px solid transparent;
            }

            &:nth-child(2) {
                border-bottom: 2px solid rgb(248, 130, 51);
            }
        }
    }

}

    .foryou {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        box-sizing: border-box;
        gap: 30px;
    }

    .favoris {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        box-sizing: border-box;
        gap: 30px;
    }


    .mydebug {
        width: 1000px;
        border-radius: 6px;
        border: 1px solid #9198a1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px 20px;
        overflow-wrap: break-word;

        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .pic-name-post-date {
            display: flex;
            gap: 10px;
            align-items: center;

            img {
                height: 37px;
                width: 37px;
                cursor: pointer;
                object-fit: cover;
                border-radius: 50px;
            }

            a {
                color: #ffffff;
                text-decoration: none;
                font-weight: 550;
            }

            p {
                color: #9198a1;
            }
        }

        .title {
            font-size: 23px;
            color: white;
        }


        .option {
            height: 20px;
            padding: 7px;
            cursor: pointer;
            border-radius: 50px;

            &:hover {
                background-color: #9198a14a;
            }
        }

        .ressource {
            
            a {
                color: #4493f8;
            }
        }

        .description {
            color: white;
            line-height: 25px;
        }

        .option-menu {
            color: #9198a1;
            background-color: #252b36;
            border-radius: 6px;
            cursor: pointer;
            overflow: hidden;
            position: absolute;
            margin-top: 6px;
            right: 10.5%;
            display: none;
            
            .op {
                display: flex;
                gap: 5px;
                padding: 13px;
                border-bottom: 1.5px solid #313845;

                p {
                    margin-top: 3px;
                }

                img {
                    height: 20px;
                }

                &:hover {
                    background-color: #313845;
                }

            }

            .op:nth-child(4) {
                border: none;
            }

        }

        .bottom { 
            display: flex;
            color: #9198a1;

            .state-simple {
                height: 20px;
                width: 20px;
                margin-right: auto;
            }

            .count-fav, .count-like {
                display: flex;
                align-items: center;
                gap: 3px;
                margin: 0 7px;

                img {
                    height: 20px;
                }
            }
        }

    }




@media screen and (max-width:1040px) {

    
        .mydebug {
            width: 80%;

            .pic-name-post-date {
                gap: 15px;
            }
        }
    }


@media screen and (max-width:768px) {
    .nav-pagination {
        nav {
            padding: 20px 15px;

            .logo {
                gap: 5px;
            }
    
            .menu-search {

                .search {
                    gap: 0px;
                    cursor: pointer;

                    input {
                        width: 0;
                    };
                }
    
            }
        }
    }

    .mydebug {

        .option-menu {

            .op {
                padding: 16px;
            }
        }
    }

}

@media screen and (max-width:500px) {

    
    .mydebug {
        width: 84%;
        padding: 10px 14px;

        .option-menu {
            right: 8.5%;
        }

        .bottom { 

            .count-fav, .count-like {
                margin: 0 5px;
            }
        }
    }
}

@media screen and (max-width:395px) {

    
        .mydebug {
            padding: 10px 13px;

            .pic-name-post-date {
                gap: 7px;
            }
        }
}

.add {
    height: 25px;
    background-color: #4493f8;
    padding: 20px;
    border-radius: 50px;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 24px;
    z-index: 3;
}

@media screen and (max-width:460px) {
    .add {
        bottom: 13px;
        right: 13px;
    }
}

    .popup-delete {
        color: white;
        background-color: #252b36;
        border-radius: 6px;
        width: 270px;
        padding: 20px 17px;
        margin: auto;
        box-shadow: 0 0 3px #0000008e;
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translatex(-50%);
        z-index: 4;
        display: none;
        
        h3 {
            margin-bottom: 10px;
        }

        .choice {
            margin-top: 25px;
            display: flex;
            gap: 15px;
            float: right;

            .cancel, .delete {
                border-radius: 6px;
                padding: 8px;
                cursor: pointer;
            }

            .cancel {
                background-color: gray;

                &:hover {
                    background-color: rgb(152, 149, 149);
                }
            }

            .delete {
                background-color: #f85149;

                &:hover {
                    background-color: #ff6058;
                }
            }
        }
    }


.smoke {
    height: 1000%;
    width: 1000%;
    background-color: #00000064;
    position: fixed;
    z-index: 4;
    display: none;
}

.nopost {
    color: #9198a1;
    text-align: center;
    width: 80%;
    display: none;

    img {
        height: 200px;
    }
}


    .notif {
        width: 250px;
        height: 60px;
        background-color: #111823;
        border: 1px solid #4493f8;
        border-radius: 15px;
        display: flex;
        align-items: center;
        color: white;
        gap: 10px;
        padding: 0 20px;    
        position: fixed;
        top: 7px;
        z-index: 3;
        left: 0;
        right: 0;
        margin: 0 auto;
        transform: translatey(-100px);

        img {
            height: 25px;
        }

    }


@media screen and (max-width: 430px) {
    .notif {
        width: 80%;
    }
}





