* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
* p {
  padding: 0;
  margin: 0;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #0d1117;
}

nav {
  background-color: #010409;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  padding: 10px 16px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(145, 152, 161, 0.6509803922);
}
nav .logo {
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
}
nav .logo p {
  font-family: "Itim", cursive;
  font-size: 18px;
}
nav .logo img {
  height: 32px;
}
nav .nav-menu {
  display: flex;
  align-items: center;
  gap: 25px;
}
nav .nav-menu .search {
  border: 1px solid white;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px 5px;
  border-radius: 6px;
}
nav .nav-menu .search:hover {
  background-color: rgba(145, 152, 161, 0.2);
}
nav .nav-menu .search input {
  width: 250px;
  outline: none;
  border: none;
  caret-color: white;
  background: none;
  color: white;
  font-size: 16px;
}
nav .nav-menu .search img {
  height: 24px;
}
nav .nav-menu .add-debug-nav {
  height: 18px;
  border-radius: 50px;
  border: 1.5px solid white;
  padding: 7px;
  cursor: pointer;
}
nav .nav-menu .add-debug-nav:hover {
  background-color: rgba(145, 152, 161, 0.2);
}
nav .nav-menu .notification-nav {
  border-radius: 50px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 -10px;
}
nav .nav-menu .notification-nav:hover {
  background-color: rgba(145, 152, 161, 0.2);
}
nav .nav-menu .notification-nav img {
  height: 30px;
}
nav .nav-menu .notification-nav .count-notif-container {
  background-color: #4493f8;
  position: absolute;
  right: 65px;
  top: 15px;
  border-radius: 50px;
  height: 17px;
  width: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 11px;
}
nav .nav-menu .profil_pic {
  height: 33px;
  border-radius: 50px;
  cursor: pointer;
}

.first-tab-system-container {
  display: flex;
}
.first-tab-system-container .tab {
  width: 20%;
  border-right: 1px solid rgba(145, 152, 161, 0.6509803922);
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: calc(100vh - 63px);
  box-sizing: border-box;
  gap: 10px;
  overflow-y: scroll;
  scrollbar-color: #0d1117 #0d1117;
  scrollbar-width: thin;
}
.first-tab-system-container .tab:hover {
  scrollbar-color: rgba(145, 152, 161, 0.5176470588) #0d1117;
}
.first-tab-system-container .tab .group div {
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
}
.first-tab-system-container .tab .group div:hover {
  background-color: rgba(145, 152, 161, 0.1137254902);
}
.first-tab-system-container .tab img {
  height: 22px;
}
.first-tab-system-container .tab hr {
  border: 0.5px solid rgba(145, 152, 161, 0.1764705882);
}
.first-tab-system-container .tab .copyright {
  color: #9198a1;
  font-size: 12px;
  margin: 0 auto;
  margin-top: auto;
}
.first-tab-system-container .page {
  width: 80%;
}
.first-tab-system-container .page div {
  background-color: #fff;
  width: 100%;
  display: none;
}
.first-tab-system-container .page div:nth-of-type(1) {
  display: block;
}

.tippy-box[data-theme~=custom] {
  background-color: #666a70;
  color: white;
}

.tippy-box[data-theme~=custom][data-placement^=top] > .tippy-arrow::before {
  border-top-color: #666a70;
}

.tippy-box[data-theme~=custom][data-placement^=bottom] > .tippy-arrow::before {
  border-bottom-color: #666a70;
}

.tippy-box[data-theme~=custom][data-placement^=left] > .tippy-arrow::before {
  border-left-color: #666a70;
}

.tippy-box[data-theme~=custom][data-placement^=right] > .tippy-arrow::before {
  border-right-color: #666a70;
}

/*# sourceMappingURL=style.css.map */
